<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div>
            CoderOJ
        </div>
        <div style="font-size: 20px;margin-top: -15px">
            Judge Server
        </div>
    </div>
    <a class="inbox-avatar" href="{{url($userType.'/profile')}}" style="border-radius: 0%" title="profile">
        <div class="sidebar-user-info">
            <img hieght="70" src="http://coderoj.com/user_file/user_photo/f1aeebe4d60da07a91a4adf39683e885e9fa07f2e0f18958f78f651c68ca9eca.jpg" style="border-radius: 100%;border: 1px solid #eeeeee" width="74">
                <div style="font-size: 17px;font-weight: bold;">
                    amir hamza
                </div>
            </img>
        </div>
    </a>
    <div class="sidebar-menu">
        <ul class="nav">
            <a href="#!/submissions/" title="">
                <li class="" id="">
                    <div class="li-area">
                        <span class="fas fa-list">
                        </span>
                        <span class="li-title">
                            Submission
                        </span>
                    </div>
                </li>
            </a>
            <a href="#!/verdicts/" title="">
                <li class="" id="">
                    <div class="li-area">
                        <span class="fas fa-gavel">
                        </span>
                        <span class="li-title">
                            Verdict
                        </span>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>